<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
    <h1>MIS</h1>
    <h2>VIAJES</h2>
    </div>
  <div class = 'container'>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start" class="avatar-circle">
        <p>ID</p>
      </ion-avatar>
      <ion-label>
        <h1>Destino: </h1>
        <p>Capacidad:  personas</p>
        <p>Precio:  CLP</p>
        <p>Hora de Salida: </p>
        <p>Lugar de Encuentro: </p>
        <p>Estado: </p>
      </ion-label>
      <ion-button >Ver Ruta</ion-button>
    </ion-item>
  </ion-list>
</div>
</ion-content>
