<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
    <h1>MIS</h1>
    <h2>VIAJES</h2>
    </div>
  <div class = 'container'>
  <ion-list>
    <ion-item *ngFor="let viaje of viajes">
      <div class="avatar-container"> <!-- Contenedor para el avatar y el ID -->
        <div class="id-label">
          <span>ID:</span> <!-- Texto que dice "ID" -->
        </div>
        <ion-avatar slot="start" class="avatar-circle">
          <p>{{ viaje.id ? viaje.id.slice(0, 2) : '' }}</p> <!-- ID dentro del círculo -->
        </ion-avatar>
      </div>
      <ion-label>
        <h1>Destino: {{ viaje.destino }}</h1>
        <p>Capacidad: {{ viaje.capacidad }} personas</p>
        <p>Precio: {{ viaje.precio | number:'1.0-0' }} CLP</p>
        <p>Hora de Salida: {{ viaje.hora }}</p>
        <p>Lugar de Encuentro: {{ viaje.encuentro }}</p> 
      </ion-label>
      <ion-button (click)="vermas()">Ver Mas</ion-button>
    </ion-item>
  </ion-list>
</div>
<div class="volver">
<ion-button (click)="home()">Home</ion-button>
</div>
</ion-content>
