
<ion-menu side="end" contentId="main-content">
  <ion-header>
      <ion-toolbar>
        <div class="menu">
        <ion-title>{{usuario}}</ion-title>
  
        <ion-button (click)="cerrar_sesion()">Cerrar Sesion</ion-button>
      </div>
      </ion-toolbar>
    
  </ion-header>
  <ion-content class="ion-padding"></ion-content>
</ion-menu>



<ion-app>
  <ion-header>
    <ion-toolbar>
      <div class="titulo">
        <ion-title>Bienvenido<ion-text>{{usuario}}</ion-text></ion-title>
        </div>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" id="main-content">
    <div class="container">
      <img src="../../../assets/img/car.png" alt="car" class="car-img">
      <br>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Buscar viaje</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="buscar()" expand="block">Buscar Viaje</ion-button>
          Para Ver tus viaje haz clic en "Buscar Viaje".
        </ion-card-content>
      </ion-card>
      <br>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Mis viajes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="listaviaje()"expand="block">Lista de Viajes</ion-button>
          Para ver tus viajes programados haz clic en "Lista de Viajes".
        </ion-card-content>
      </ion-card>
      <br>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Cancelar viaje</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="cancelarviaje()" expand="block">Cancelar Viaje</ion-button>
          Para cancelar tu viaje haz clic en "Cancelar Viaje".
        </ion-card-content>
      </ion-card>   
    </div>
  </ion-content>
</ion-app>
