.titulo{
  color: #edb232;
  font-family: 'Montserrat', sans-serif;
}
.titulo ion-text{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin-left: 6px;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-button {
  --background: #edb232; 
  --color: white; 
}
.container h2{
color: #edb232;
}
.container h1 {
color: white;
}
container {
  --background: blue;
}
ion-content {
  --background: #083d85; 
}
.container p  {
color: white;
}
ion-title {
  color: #edb232;
  background-color: #4e74a7;
  height: 55px;
  border-color: #4e74a7;
}
ion-menu-button {
  background-color: #4e74a7;
  height: 55px;
  width: 80px;
  color: aliceblue;
}

.menu{
  background-color: #083d85; 
}
.menu ion-title{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
.menu ion-button{
  margin-top: 180%;
}

ion-card{
  background-color: #4e74a7;
}
ion-card-title{
  text-align: center;
  color: #ffffff;
}
ion-card-content{
  text-align: center;
  color: #ffffff;
}