<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Viaje</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="titulo">
  <h1>INICIA</h1>
  <h2>TU VIAJE</h2>
  </div>
  <!-- AQUI VA EL MAPA -->
  <div class="contenido">
    <img src="../../../assets/img/Mapa.png" alt="Ruta De Viaje">
      <ion-button>Iniciar Viaje</ion-button>
      <p>Una vez inicies tu viaje comenzará de inmediato</p>
  </div>
  
</ion-content>