<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Seleccione</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" id="main-content">
    <div class="container">
      
      <img src="../../../assets/img/car.png" alt="car" class="car-img">
      <br>
      <p>Login de Conductor"</p>
      <ion-button (click)="login()" expand="block">Conductor</ion-button>
      <br>
      <p>Login de Pasajero"</p>
      <ion-button (click)="login2()" expand="block">Pasajero</ion-button>
      <br>
      <p>Registrar Cuenta</p>
        <ion-button (click)="registrar()">Registrarse</ion-button>
    </div>
  </ion-content>
</ion-app>
